<form>
  <div>
    <label for="user_number">Enter a number</label>
  </div>
  <input id="user_number" type="text" placeholder="What number do you want to take the square of?" name="number">
  <div>
    <button>Calculate square</button>
  </div>
</form>